/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
	--vert:#1D6154;
	--orange:#B1663C;
	--white: white;
	--black:#000000;
	--motDePasse:#3D3D3D;
	--rouge:#D65353;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
.supprimer:focus {
	color: var(--vert);
	font-weight: 700;
}
body {
	line-height: 1;
	font-family: 'Work Sans';
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
header, main, footer {
	max-width: 1140px;
	margin:auto;
}
#publication {
	background: var(--black);
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#publication {
	display: none;
}
#publication div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
#publication div a {
	text-decoration: none;
	color: var(--white);
}
#publication div a:hover {
	font-weight: 700;
}
#publication div button {
	font-weight: 700;
	color: var(--black);
	background-color: var(--white);
	width: 180px;
	height: 40px;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	transition: 0.2s;
}
#publication div button:hover {
	color: var(--vert);
	height: 45px;
	width: 185px;
	transition: 0.2s;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--orange);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--vert);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
#bold {
	font-weight: 600;
}
#out {
	display: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
nav a {
	text-decoration: none;
	color: var(--black);
}
nav ul li img {
	width: 1.2em;
	height: 1.2em;
}
nav ul li a:hover {
	color: var(--orange);
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
	margin: 120px 5em 0 5em;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin-bottom: 10px;
	width: 80%;
}
#fig a {
	text-decoration: none;
	color: #000000;
	display: none;
}
#fig a:hover {
	font-weight: 700;
	color: var(--vert);
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	margin: 0 5em;
}
#portfolio h2 {
	text-align: center;
	margin: 2em 0 1em 0;
	transition: 0.3s;
}
.containerModale {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.containerModale a {
	text-decoration: none;
	color: #000000;
	display: none;
}
.containerModale a:hover {
	font-weight: 700;
	color: var(--vert);
}
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.modalWrapper {
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background: var(--white);
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.jsModal {
	border: none;
	cursor: pointer;
	width: 20px;
}
#jsModalReturn {
	display: none;
}
#jsModalClose {
	margin-left: 585px;
}
#titleModal {
	font-family: 'Work Sans';
    font-weight: 700;
    font-size: 26px;
    color: var(--vert);
	text-align: center;
	margin-top: 10px;
}
#titleModal2 {
	display: none;
	font-family: 'Work Sans';
    font-weight: 700;
    font-size: 26px;
    color: var(--vert);
	text-align: center;
	margin-top: 10px;
}
input[name="title"], select[name="categorie"] {
	height: 50px;
	border: none;
}
select[name="categorie"] {
	cursor: pointer;
	margin-left: 10px;
}
input[name="title"] {
	margin-left: 10px;
}
input[name="title"]:hover {
	background-color: #E8F1F6;
}
.weight {
	font-weight: 600;
}
.containerPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 20px;
}
.fa-image {
	color: #B9C5CC;
	font-size: 60px;
	cursor: pointer;
}
#photo {
	display: none;
}
.buttonAjoutPhoto {
	font-weight: 600;
	color: #306685;
	background-color: #CBD6DC;
	padding: 13px 31px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	transition: 0.2s;
}
.buttonAjoutPhoto:hover {
	padding: 15px 34px;
	transition: 0.2s;
}
#galeriePhoto {
	width: 420px;
	margin: auto;
	padding: 50px 0;
	border-bottom: #B3B3B3 solid 1px;
}
#formAjoutPhoto {
	display: flex;
	flex-direction: column;
}
#galeriePhoto div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#galeriePhoto #imgWorks {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 7px;
	grid-row-gap: 7px;
}
#imgWorks img {
	width: 100%;
}
.fa-arrows-up-down-left-right {
	position: absolute;
	top: 6px;
	right: 30px;
	padding: 4px;
	border-radius: 2px;
	background: var(--black);
	color: var(--white);
	z-index: -1;
	transition: 0.3s;
	cursor: pointer;
}
.edition:hover > .fa-arrows-up-down-left-right {
	z-index: 1;
	transition: 0.3s;
}
.fa-trash-can {
	color: var(--white);
}
.edit {
	position: absolute;
	top: 6px;
	right: 6px;
	background: var(--black);
	border-radius: 2px;
	padding: 4px;
	cursor: pointer;
}
.edit:hover {
	background: var(--vert);
}
.edition {
	position: relative;
}
input[name="delete"] {
	display: none;
}
input[name="delete"]:checked ~ .edit {
	background: var(--vert);
}
.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
}
.btn .supprimer {
	font-family: 'Syne';
	text-align: center;
	color: var(--rouge);
	border: none;
	cursor: pointer;
}
.btn .supprimer:hover {
	color: var(--vert);
}
.buttonPhoto {
	font-family: 'Syne';
	font-weight: 700;
	color: var(--white);
	background-color: var(--vert);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	height: 50px;
	transition: 0.2s;
}
.buttonPhoto:hover {
	color: var(--vert);
	background: var(--white);
	transition: 0.2s;
}
#resultat {
	height: 170px;
	width: 130px;
}
.valider {
	display: none;
	font-family: 'Syne';
	font-weight: 700;
	color: var(--white);
	background-color: #A7A7A7;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
	height: 50px;
	transition: 0.3s;
}
.valider:hover {
	color: var(--vert);
	background: var(--white);
	transition: 0.2s;
}
#portfolio input[name="filtre"] {
	display: none;
}
.filtres label span {
	border: var(--vert) 1px solid;
    border-radius: 25px;
    padding: 10px 20px;
    user-select: none;
    flex-wrap: nowrap;
	cursor: pointer;
	font-weight: 700;
	font-family: 'syne';
	font-size: 16px;
	color: var(--vert);
	transition: 0.2s;
}
#portfolio label .lesFiltres:hover {
	background: var(--vert);
	color: var(--white);
	transition: 0.2s;
}
#portfolio label input[name="filtre"]:checked ~ span {
	background: var(--vert);
	color: var(--white);
} 
.filtres {
	margin: 3em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.gallery div {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery div img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin: 50px 0 20px 0;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	overflow: auto;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: var(--white);
	background-color: var(--vert);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	transition: 0.2s;
}
input[type="submit"]:hover {
	color: var(--vert);
	background: var(--white);
	transition: 0.2s;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.main {
	margin-top: 180px;
}
#login {
	width: 50%;
	margin: auto;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login > * {
	text-align: center;
}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login label {
	margin: 2em 0 1em 0;
}
.motDePasse {
	display: flex;
	width: 100%;
	justify-content: center;
}
#motDePasseOublie {
	color: var(--motDePasse);
	font-weight: 500;
	font-size: 14px;
	font-family: 'Work Sans';
}
.foot {
	margin-top: 240px;
}